.calculator-body {
  height: 19rem;
  width: 100%;
  margin-right: 5px;
  box-shadow: 5px 5px 8px 8px gray;
}

.calc-result {
  display: flex;
  text-align: right;
  background-color: rgb(155, 154, 154);
  max-width: 100%;
  height: 50px;
  color: #fff;
  border: 1px solid rgb(228, 225, 225);
  font-size: 30px;
  justify-content: flex-end;
  letter-spacing: 1px;
  padding-right: 5px;
}

.calc-result input::placeholder {
  color: white;
  padding-top: 10px;
  width: 100%;
}

.assign-operators {
  justify-content: space-between;
  width: 100%;
  display: block;
  height: 50px;
  background-color: rgb(247, 240, 240);
}

.first-row,
.second-row,
.third-row,
.fourth-row {
  display: flex;
  width: 100%;
  background-color: rgb(247, 240, 240);
  height: 50px;
}

.firth-row {
  display: flex;
  max-width: 100%;
  margin-top: 9.5rem;
  background-color: rgb(247, 240, 240);
  height: 50px;
}

.firth-row button {
  border: 1px solid rgb(228, 225, 225);
  width: 80%;
  padding-left: 80px;
  padding-top: 15px;
}

.assign-operators .first-row button {
  gap: 3rem;
  border: 1px solid rgb(228, 225, 225);
  width: 80%;
  padding-left: 80px;
  padding-top: 15px;
}

.assign-operators .second-row button {
  gap: 3rem;
  border: 1px solid rgb(228, 225, 225);
  width: 80%;
  padding-left: 80px;
  padding-top: 15px;
}

.assign-operators .third-row button {
  gap: 3rem;
  border: 1px solid rgb(228, 225, 225);
  width: 80%;
  padding-left: 80px;
  padding-top: 15px;
}

.assign-operators .fourth-row button {
  gap: 3rem;
  border: 1px solid rgb(228, 225, 225);
  width: 80%;
  padding-left: 80px;
  padding-top: 15px;
}

.special {
  background-color: rgb(240, 153, 121);
}

#division {
  font-size: 10px;
  font-weight: normal;
}

.firth-row .dot-width {
  max-width: 25%;
  font-size: 20px;
}

.firth-row .special {
  max-width: 25%;
}

.firth-row .zero-width {
  padding-left: 12rem;
}

.quotes-container {
  border: 1px solid grey;
  margin-top: 20px;
  box-shadow: 5px 5px 8px 8px gray;
}
